<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My blog{% endblock %}</title>
    {% load static %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'style/images/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style/color/red.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style/css/prettyPhoto.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style/type/museo.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style/type/ptsans.css' %}" media="all"/>
    <link rel="stylesheet" type="text/css" href="{% static 'style/type/charis.css' %}" media="all"/>

    <script type="text/javascript" src="{% static 'style/js/jquery-1.6.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/ddsmoothmenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/transify.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/jquery.prettyPhoto.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/jquery.superbgimage.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'style/js/jquery.slickforms.js' %}"></script>
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'posts/style.css' %}">-->
</head>
<body>
<div id="thumbs">
    <a href="{% static 'style/images/art/bg1.jpg' %}">1</a>
    <a href="{% static 'style/images/art/bg2.jpg' %}">2</a>
    <a href="{% static 'style/images/art/bg3.jpg' %}">3</a>
    <a href="{% static 'style/images/art/bg4.jpg' %}">4</a>
    <a href="{% static 'style/images/art/bg5.jpg' %}">5</a>
    <a href="{% static 'style/images/art/bg6.jpg' %}">6</a>
</div>
<div id="superbgimage">
    <div class="scanlines"></div>
</div>
<div id="wrapper">
    <div id="header">
        <div class="logo"><a href="index.html"><img src="{% static 'style/images/logo.png' %}" alt=""/></a></div>
        <div class="social">
            <ul>
                <li><a href="#"><img src="{% static 'style/images/icon-rss.png' %}" alt="RSS"/></a></li>
                <li><a href="#"><img src="{% static 'style/images/icon-facebook.png' %}" alt="Facebook"/></a></li>
                <li><a href="#"><img src="{% static 'style/images/icon-twitter.png' %}" alt="Twitter"/></a></li>
                <li><a href="#"><img src="{% static 'style/images/icon-googleplus.png' %}" alt="Google+"/></a></li>
                <li><a href="#"><img src="{% static 'style/images/icon-dribble.png' %}" alt="Dribble"/></a></li>
                <li><a href="#"><img src="{% static 'style/images/icon-flickr.png' %}" alt="Flickr"/></a></li>
                <li><a href="#"><img src="{% static 'style/images/icon-tumblr.png' %}" alt="Tumblr"/></a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div id="menu" class="menu opacity">
        <ul>
            <li><a href="/" class="active">Home</a></li><!--/index.html-->

            
        </ul>
        <br style="clear: left"/>
    </div>

    <div id="container" class="opacity">

        <!-- Begin Blog -->
        <div class="blog">

            <!-- Begin Posts -->
            <div class="content">

                {% block logForm %}{% endblock %}

                {% block content %}{% endblock %}


            </div>
        </div>


        <!-- SIDEBAR-->
        <div class="sidebar">

            <div class="sidebar-box">
                <div class="sidebar-box loginLink">
                    {% if user.is_authenticated %}
                    <h4 class="username">Welcome, {{ user.get_username }}</h4>
                    <a href="{% url 'admin:index' %}" ><button class="linkToAdmin">Link to Admin Panel</button></a>
                    <a href="{% url 'logout'%}?next={{request.path}}" ><button class="login">Logout</button></a>
                    {% else %}
                    <a href="{% url 'login'%}?next={{request.path}}" ><button class="login">Login</button></a>
                    {% endif %}
                </div>
                <div class="sidebar-box tags">
                <h4>Tags</h4>
                <div class="tag-list">
                    <ul>
                        <li><a href="#">journal</a></li>
                        <li><a href="#">photography</a></li>
                        <li><a href="#">design</a></li>
                        <li><a href="#">inspiration</a></li>
                        <li><a href="#">fun</a></li>
                        <li><a href="#">casual</a></li>
                        <li><a href="#">business</a></li>
                        <li><a href="#">web</a></li>
                        <li><a href="#">color</a></li>
                        <li><a href="#">portfolio</a></li>
                    </ul>
                </div>
                </div>
            </div>


        </div>
        <div class="clear"></div>
        <!--          </div>-->
        <!--  </div>-->
        <div id="footer">
            <div class="footer-top"></div>
            <!-- Divider -->


            <div class="one-fourth">
                <h3>About</h3>
                <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                    Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Curabitur blandit tempus
                    porttitor.</p> <br/>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
            </div>

            <!-- Form -->

            <!-- End Form -->
            <div class="clear"></div>
        </div>
    </div>
    <!-- End Container -->

    <div id="copyright" class="opacity">
        <p>© 2011 Zeences Design. All Right Reserved.</p>
    </div>
</div>
<!-- End Wrapper -->

<script type="text/javascript" src="{% static 'style/js/scripts.js' %}"></script>
</body>
</html>